body {
  margin: 0;
  height: 5000px;
}

.retail-rail-overlay {
  transition: all .35s linear;
  max-height: 700px;
  overflow: hidden;
  visibility: visible;
}

.retail-rail-overlay.position-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
}

.retail-rail {
  background: #005596;
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  transition: all .35s linear;
  visibility: visible;
}

.retail-rail-overlay.hide-rail {
 max-height: 0;
 visibility: hidden;
}

.retail-rail-overlay.hide-rail .retail-rail {
 transform: translateY(110%);
 visibility: hidden;
}


.retail-rail.dark-orange {
  background: #d01524;
}

.retail-rail.light-green {
  background: #1fbb5f;
}

.retail-rail .content-wrap {
  display: flex;
  align-items: center;
}

.retail-rail p.retail-rail__body-text {
  margin: 0 2rem 0 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 20.4px;
  font-family: AvenirNextLTW01-Regular, sans-serif;
  color: #fff !important;
  letter-spacing: 0;
  text-transform: initial;
}

.retail-rail h3.retail-rail__title {
  color: #fff !important;
  font-size: 1.8rem !important;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

.retail-rail a {
  background: #fff;
  text-decoration: none;
  padding: 0.9375rem 1.25rem;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  /* transition: all 0.4s; */
  color: #000 !important;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 4rem;
  font-size: 18px;
}

.retail-rail a:hover, .retail-rail a:active, .retail-rail afocus {
  background: #000;
  color: #fff !important;
}

.retail-rail .icon-close {
  margin-left: auto;
  width: 30px !important;
  height: 30px !important;
  background-image: url('close_white.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.retail-rail .icon-close:hover {
  cursor: pointer;
}

.retail-rail .icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px !important;
}

@media screen and (max-width: 1180px) {
  .retail-rail .content-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .retail-rail a {
    margin: 1rem 0 0 0;
  }

  .retail-rail h3.retail-rail__title {
    line-height: 1.3;
  }

  .retail-rail p.retail-rail__body-text {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1180px) and (max-width: 1440px) {
  .retail-rail a {
    margin: 0;
    margin-left: 1rem;
  }

  .text-container.retail-rail__child {
    max-width: 80%;
  }
}